<div class="bubble">
	<div class="categories-wrap">
		<ul class="categories"></ul>
	</div>
	<div class="bubble-right">
		<div class="bubble-titles clearfix">
			<div class="titles-sub"><span>全部分类</span></div>
			<div class="titles-sort">综合排序</div>
			<div class="titles-flpx-box">
				<div class="titles-flpx">
					<span class="spanY">综合排序</span>
					<span>销量最高</span>
					<span>价格最高</span>
					<span>价格最低</span>
				</div>
			</div>
		</div>
		<div class="bubble-list">
			<ul></ul>
		</div>
	</div>
</div>
